//class Main  { 
//    function void main (  )   { 
//        var PongGame game ; 
//	do PongGame . newInstance (  )  ; 
function Main.main 1
call PongGame.newInstance 0
pop temp 0
//        let game  =  PongGame . getInstance (  )  ; 
call PongGame.getInstance 0
pop local 0
//        do game . run (  )  ; 
push local 0
call PongGame.run 1
pop temp 0
//	do game . dispose (  )  ; 
push local 0
call PongGame.dispose 1
pop temp 0
//        return ; 
push constant 0
return
//     } 
// } 
