//class Main  { 
//    function void main (  )   { 
//        var SquareGame game ; 
//        let game  =  SquareGame . new (  )  ; 
function Main.main 1
call SquareGame.new 0
pop local 0
//        do game . run (  )  ; 
push local 0
call SquareGame.run 1
pop temp 0
//	do game . dispose (  )  ; 
push local 0
call SquareGame.dispose 1
pop temp 0
//        return ; 
push constant 0
return
//     } 
// } 
